* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}
:root{
  scroll-behavior: smooth;
}
#registration,#connection {
  border: 0.1rem solid black;
  width: 30vw;
  height: 90vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
#registration p,#connection p {
  font-size: 1.15rem;
}
#welcom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100vh;
  padding: 30px;
  background-image: url(food/תמונה4.jpg);
  background-size: 100% 100%;
}
#welcom input {
  padding: 3px;
  border-radius: 3px;
  width: 12.5vw;
}
#welcom button {
  margin: 12px;
  background-color: rgb(223, 223, 223);
  color: black;
  border: black 0.5px solid;
  border-radius: 3px;
  width: 12vw;
}
#food{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}
#food .card img{
  width: 100%;
  height: 70%;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}
#food .card{
  width: 20vw;
  height: 75vh;
  border-radius: 4%;
  box-shadow: 1px 0px 18px 1px;
}
.c{
  direction: rtl;
  height: 100vh;
  background-image: url(food/ש.jpg);
  background-size: 100% 100%;
}
.hide,#f{
  display: none;
}
.show{
  display: block;
}
#plate{
  height: 35vh;
  width: 46vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position: absolute;
  top: 200px;
  left: 320px;
}
#cart .item{
  font-size: 1.3rem;
}
#cart button{
  position: absolute;
  top: 420px;
  left: 558px;
  font-size: 1.3rem;
}
header{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  width: 100%;
  top: 0; */ 
}
header button{
  position: absolute;
  top: 34px;
  left: 100px;
  font-size: 1.4rem;
}
#sum{
  direction: rtl;
  height: 100vh;
  background-image: url(food/ש.jpg);
  background-size: 100% 100%;
  display: none;
}
#ss{
  height: 42vh;
  width: 46vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position: absolute;
  top: 167px;
  left: 320px;
  display: none;
}
#sum .p{
  font-size: 1.7rem;
}
#cart h2{
  font-size: 2rem;
  position: absolute;
  top: 128px;
  left: 558px;
}